<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
 <body>
  <h1>YouTube Thumbnail Downloader</h1>
	<form method="POST">
		<label for="video_url">Video URL:</label>
		<input type="text" name="video_url" id="video_url" required>
		<button type="submit">Download Thumbnail</button>
	</form>
  </body>
</html>